@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

.work-sans-font {
    font-family: "Work Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

/* shared style */
.display-flex {
    display: flex;
}

/* shared color */
.text-primary {
    color: #FF900E;
}

/* dark 2 */
.text-dark {
    color: #131313;
}

.text-gray {
    color: #424242;
}

/* dark3 */
.text-light-gray {
    color: #727272;
}

.bg-light {
    background-color: rgba(255, 144, 14, 0.1);
}

.btn-primary {
    font-size: 1.2rem;
    color: white;
    padding: 20px 25px;
    background-color: #FF900E;
    border-radius: 8px;
    border: none;
}

main,
.footer {
    max-width: 1440px;

    margin: 0 auto;
}

main>section {
    padding-top: 130px;
}

.banner-description {
    max-width: 540px;
    margin: 0 auto;
    margin-bottom: 10px;
}

/* header style */
.navbar,
.banner {
    max-width: 1440px;
    margin: 0 auto;
}

/* navbar related style */

.navbar {
    justify-content: space-between;
    align-items: center;
}

.brand {
    font-size: 3rem;
    font-weight: 700;
}

.nav-item {
    list-style: none;
    margin-right: 30px;
}

.nav-link {
    text-decoration: none;
    font-size: 18px;
    font-weight: 500;
}

/* banner related style */

.banner-content {
    max-width: 850px;
    text-align: center;
    margin: 0 auto;
    margin-bottom: 50px;
}

.banner-title {
    font-size: 4rem;
    font-weight: 600;
}

.banner-image {
    width: 100%;
}

/* items related style*/
.teams {
    justify-content: center;
    align-items: center;
}

.team-image-container {
    display: grid;
    gap: 10px;
    grid-template-columns: repeat(2, 1fr);
}

.architect-img {
    width: 100%;
    object-fit: cover;
    height: 342px;
    border-radius: 8px;
}

.our-feature {
    max-width: 530px;
    margin-left: 130px;
}

.section-title {
    font-size: 2.8rem;
    font-weight: 500;
    margin-bottom: 20px;
}

#quick-llist {
    font-weight: 700;
}

/* Features you will love & enjoy */
.feature {
    gap: 100px;
    justify-items: center;
}

.feature-card {
    border-radius: 8px;
    background-color: white;
    box-shadow: 0 4px 30px 0 rgba(0, 0, 0, 0.06);
    padding: 30px;
    margin-bottom: 20px;
}

.feature-cd-title,
.feature-description {
    margin: 0 0 5px 0;
}

.feature-description {
    padding-bottom: 20px;
}

#feature-title {
    padding-left: 30px;
    border-left: 5px solid #FF900E;
    font-weight: 600;
}

.feature-card,
#feature-tittle {
    font-size: 1.25rem;
}

.feature-description {
    font-size: 1rem;
    margin: 0;
}

.right-slide {
    position: relative;
    top: 0;
    left: 0;
}

.button-years {
    font-size: 4rem;
}

#btn {
    position: absolute;
    left: -73px;
    bottom: -35px;
    font-weight: 600;
}

.experience {
    font-size: 1.5rem;
}



/* some related style  Facts */

.fact-title {
    font-size: 2.8rem;
    font-weight: 600px;
}

.fact-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 24px;
}

.fact-card {
    width: 240px;
    height: 240px;
    border: 2px solid #FF900E;
    justify-content: center;
    align-items: center;
    text-align: center;
    border-radius: 8px;
}

.fact-number {
    font-size: 2.8rem;
    font-weight: 600;
    margin-top: 5px;
    margin-bottom: 10px;
}

.fact-name {
    font-size: 1.25rem;
    font-weight: 600;
    margin-top: 10px;
    margin-bottom: 5px;
}

/* some related  style Sponspors */
.Our-Sponsporss {
    text-align: center;

    margin: 0 auto;
}

.spons-info {
    max-width: 540px;
    text-align: center;
    margin: 50px auto;
}

.spons-companie {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
}

.spons-companie img {
    filter: grayscale(100%);
}

/* footer */
footer {
    padding: 60px 0 80px;
}

#footer-caption {
    max-width: 650px;
    margin: 0 auto;
}

.footer {
    padding: 40px 0;
    background-color: rgba(255, 144, 14, 0.1);
}

/* responsive media quary */
@media screen and (max-width:576px) {

    .navbar,
    .nav-links,
    .teams,
    .feature {
        flex-direction: column;
    }

    .team-image-container,
    .fact-container,
    .spons-companie {
        grid-template-columns: 1fr;
    }

    .spons-companie {
        justify-items: center;
        gap: 50px;
    }

    .fact-container {
        justify-items: center;
    }

    .our-feature {
        margin-left: 20px;
    }

    .feature-img {
        width: 100%;
        padding-left: 0;
    }

    .feature {
        gap: 10px;
    }

    #btn {
        left: 0;
        bottom: 0;
        padding: 10px;
    }

    #footer-caption {
        text-align: center;
        margin: 0 auto;
    }
}

/* medium */
@media screen and (min-width:577px) and (max-width:992px) {

    .teams,
    .feature {
        flex-direction: column;
    }

    .our-feature {
        margin: 50px auto;
    }

    .fact-container,
    .spons-companie {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 30px;
        justify-items: center;
    }
    .feature-img {
        width: 100%;
        padding-left: 0;
    }
    .feature {
        gap: 10px;
    }

    #btn {
        left: 0;
        bottom: 0;
        padding: 10px;
    }

  #footer-caption {
        text-align: center;
        margin: 0 auto;
    }


}